.m-table{
    width: 100%;
    height: calc(100% - 48px - 48px);
    border: 1px solid black;
    box-sizing: border-box;
}
.m-table .m-header-table{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.m-table .m-header-table .m-title-table{
    font-size: 20px;
    font-family: Medium;
    padding: 12px;
    box-sizing: border-box;
}

.m-table .m-sort{
    margin-left: 15px;
    display: flex;
}
.m-table .m-header-table .btn-add{
    margin-right: 16px;
}
.m-table .m-toolbar-table{
    display: flex;
    justify-content: space-between;
}

.m-table .m-toolbar-table .toolbar{
    height: 100%;
    width: 165px;
}
.m-sort-by-department{
    margin-left: 15px;
    display: flex;
}
.m-sort-by-position{
    margin-left: 15px;

    display: flex;

}
.m-table .m-data-table{
    background-color: yellow;
    height: calc(100% - 89px);
    width: 100%;
}

.m-table .m-data-table td{
    width: 100px;
    height: 40px;
    border: 1px solid black;
    
}

.m-table .m-data-table table{
    border-collapse: collapse;
}