.input{

}

.input-icon{
    box-sizing: border-box;
    height: 40px;
    width: 300px;
    border: 1px solid #bbb;
    outline: none;
    border-radius: 4px;
    background-position: 16px center;
    padding-left: 40px;
    box-sizing: border-box;
}
.input-icon::placeholder{
    font-size: 12px;
    color: #bbb;
    font-family: Regular;
}
.input-icon:focus{
    box-sizing: border-box;
    border: 1px solid #019160;
    outline: none;
}